In [1]:
import re
import pandas as pd
import numpy as np
from IPython.display import clear_output
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import requests
from bs4 import BeautifulSoup
from lxml import etree

In [2]:
#function to get all proper nouns from a file
#takes xml doc and returns dataframe
def get_nps(file):
    acc_d = {'Speaker':[], 'Line':[], 'Term':[]}
    tree = etree.parse(file)
    #one-liner to create parent_map to traverse the tree backwards
    parent_map = dict((c, p) for p in tree.getiterator() for c in p)
    #get title
    title = tree.xpath('//title')[0].text
    #start with list of all proper nouns, then add line # and speaker info to each
    nps = tree.xpath('//w[@ana="#n1-nn"]')
    def get_sp(l):
        parent = parent_map[l]
        if parent.tag == 'sp':
            return parent
        else:
            return get_sp(parent)
    for np in nps:
        line = parent_map[np]
        line_num = np.get('n')
        speech = get_sp(np)
        if speech.find('speaker') == None:
            speaker = speech.get('who')
        else:
            i_speaker = speech.find('speaker')
            speaker = ''
            for w in i_speaker.findall('w'):
                speaker = speaker + w.text.capitalize() + ' '
            speaker = speaker[:-1]    
            
        acc_d['Speaker'].append(speaker) 
        acc_d['Line'].append(line_num)
        acc_d['Term'].append(np.text)
    df = pd.DataFrame.from_dict(acc_d)
    df['Play'] = title
    return df



def get_chars(file):
    char_list = []
    tree = etree.parse(file)
    #get list of characters
    for ci in tree.xpath('//castList//castItem'):
        if len(ci) > 0:
            c_id = ci.get('{http://www.w3.org/XML/1998/namespace}id')
            if c_id[1].islower() == True:
                r = ci.find('role')
                char_list.append((c_id, get_text(r).strip()))
    return char_list
        
#     x.text.replace('â\x80\x99', '\'')
#     x.replace('Ã©', 'e')
def get_text(role):
    text_arr = []
    if role.text != None:
        b = role.text.strip()
        text_arr.append(b)
    for n in role:
        n_txt = n.text
        n_tl = n.tail
        if n_txt != None:
            text_arr.append(n_txt.strip())
        if n_tl != None:
            if len(n_tl.strip()) > 0:
                text_arr.append(n_tl.strip())
    #combine strings in the array
    final_s = ''
    for s in text_arr:
        if s != '':
            final_s = final_s + s + ' '
    return final_s

In [3]:
HenryIV_1df= get_nps('Initial_Texts/HenryIV(1).xml')
HenryIV_2df = get_nps('Initial_Texts/HenryIV(2).xml')
HenryV_df = get_nps('Initial_Texts/HenryV.xml')
HenryVI_1df = get_nps('Initial_Texts/HenryVI(1).xml')
HenryVI_2df = get_nps('Initial_Texts/HenryVI(2).xml')
HenryVI_3df = get_nps('Initial_Texts/HenryVI(3).xml')
HenryVIII_df = get_nps('Initial_Texts/HenryVIII.xml')
John_df = get_nps('Initial_Texts/John.xml')
RichardII_df = get_nps('Initial_Texts/RichardII.xml')
RichardIII_df = get_nps('Initial_Texts/RichardIII.xml')
all_dfs = [HenryIV_1df, HenryIV_2df, HenryV_df, HenryVI_1df, HenryVI_2df, HenryVI_3df, HenryVIII_df, John_df, RichardII_df, RichardIII_df]

In [4]:
HenryIV_1chars = get_chars('Initial_Texts/HenryVI(1).xml')
HenryIV_2chars = get_chars('Initial_Texts/HenryVI(2).xml')
HenryV_chars = get_chars('Initial_Texts/HenryV.xml')
HenryVI_1chars = get_chars('Initial_Texts/HenryVI(1).xml')
HenryVI_2chars = get_chars('Initial_Texts/HenryVI(2).xml')
HenryVI_3chars = get_chars('Initial_Texts/HenryVI(3).xml')
HenryVIII_chars = get_chars('Initial_Texts/HenryVIII.xml')
John_chars = get_chars('Initial_Texts/John.xml')
RichardII_chars = get_chars('Initial_Texts/RichardII.xml')
RichardIII_chars = get_chars('Initial_Texts/RichardIII.xml')
all_chars = [HenryIV_1chars, HenryIV_2chars, HenryV_chars, HenryVI_1chars, HenryVI_2chars, HenryVI_3chars, HenryVIII_chars, John_chars, RichardII_chars, RichardIII_chars]

In [ ]:
# all_char_list = [inner for outer in all_chars for inner in outer]
# character_df = pd.DataFrame(all_char_list)
# writer = pd.ExcelWriter('characters1.xlsx')
# character_df.to_excel(writer, 'Sheet1')
# writer.save()

In [7]:
p_character_df = character_df[character_df['Place'] != 'None']

In [5]:
character_df = pd.read_excel('characters.xlsx')

In [12]:
character_p_ns = p_character_df['Place'].unique()

In [22]:
#join all plays into one df
big_df = HenryIV_1df.copy()
for df in all_dfs[1:]:
    big_df = big_df.append(df, ignore_index=True)
big_df.groupby(['Play'])
big_df.head()

        Speaker    Line           Term              Play
0          King  1.1.19         Christ  Henry IV, Part I
1          King  1.1.31   Westmoreland  Henry IV, Part I
2  Westmoreland  1.1.37          Wales  Henry IV, Part I
3  Westmoreland  1.1.38       Mortimer  Henry IV, Part I
4  Westmoreland  1.1.39  Herefordshire  Henry IV, Part I

In [53]:
more_stop_words = ['God', 'John', 'Henry', 'Richard', 'Edward', 'Harry', 'Clarence', 'Talbot', 'Bardolph', 'Margaret', 'Thomas',
                  'Jack', 'Percy', 'Falstaff', 'Kate', 'Mortimer', 'Hal', 'Charles', 'Plantagenet', 'Humphrey', 'George', 'Hubert',
                  'Pistol', 'Gaunt', 'Westmoreland', 'Arthur', 'Douglas', 'Francis', 'Cade', 'William', 'Davy', 'Catesby', 'Lewis',
                  'Stanley', 'Mowbray', 'Aumerle', 'Glendower', 'Montague', 'Ned', 'Robert', 'Doll', 'Poins', 'Cromwell', 'Grey',
                  'Jesu', 'Katherine', 'Joan', 'Scot', 'Dorset', 'Edmund', 'Rivers', 'Anne', 'Monmouth', 'Philip', 'Rutland',
                  'Bona', 'Christendom', 'Pole', 'Pucelle', 'Reignier', 'Walter', 'Faulconbridge', 'Gower', 'Lovell', 'Ratcliffe',
                  'Blunt', 'Nell', 'Nym', 'Roan', 'Scroop', 'Beaufort', 'Caesar', 'Eleanor', 'Griffith', 'Hotspur', 'Peter', 
                  'Blanche', 'Colevile', 'Louis', 'Owen', 'Alexander', 'Bushy', 'Christ', 'Constance', 'Peto', 'Tyrrel', 'Bullcalf',
                  'Cranmer', 'Englishman', 'Mars', 'Michael', 'Tearsheet', 'Vaughan', 'Bagot', 'Elizabeth', 'Hume', 'James', 
                  'Macmorris', 'Nicholas', 'Snare', 'Wart', 'Wednesday', 'Wolsey', 'jack', 'Chrish', 'Coeur', 'Day', 'Iden', 'Jove',
                  'Julius', 'Montjoy', 'Paul', 'Roger', 'Shore', 'Vernon', 'Welshman', 'de', 'Ascension', 'Barbary', 'Bourbon',
                  'Cain', 'Crispian', 'Dick', 'Gadshill', 'Gardiner', 'Jesus', 'Lionel', 'Lucy', 'May', 'Melun', 'Mercury', 'Mordake',
                  'Morton', 'Phoebus', 'Robin', 'Sands', 'Saye', 'Alban', 'Brandon', 'Bullen', 'Campeius', 'Cheshu', 'Dighton', 
                  'Elysium', 'Fang', 'Fastolf', 'Fitzwater', 'Forrest', 'Frenchman', 'Geoffrey', 'Hector', 'Helen', 'Hercules',
                  'Hugh', 'Icarus', 'Judas', 'Langley', 'Lion', 'Montgomery', 'Nightwork', 'Scales', 'Thursday', 'Tom', 'Travers',
                  'Whitmore', 'Abergavenny', 'Aeneas', 'Agamemnon', 'Alice', 'Amazon', 'Amurath', 'Anthony', 'Arc', 'Bar', 'Bigot',
                  'Butler', 'Capet', 'Cleitus', 'Colbrand', 'Crispin', 'Delabreth', 'Denis', 'Dennis', 'Dorothy', 'Falconbridge',
                  'Friday', 'Gargrave', 'Gawsey', 'Godâ\x80\x99s', 'Goodwin', 'Gregory', 'Gualtier', 'Guilford', 'Henton', 'Herbert',
                  'Hiren', 'Hopkins', 'Horner', 'Hungerford', 'Innocent', 'Jacques', 'Jamy', 'Jew', 'Jewry', 'Jourdain', 'June', 
                  'Kendal', 'Lent', 'Lethe', 'Lorraine', 'Machiavel', 'Mary', 'Nero', 'Pandulph', 'Peck', 'Pegasus', 'Pepin', 'Philippa',
                  'Picardy', 'Pilate', 'Place', 'Pompey', 'Rambures', 'Roussi', 'Sander', 'Simon', 'Spaniard', 'Stephen', 'Thump', 'Titan',
                  'Tuesday', 'Ulysses', 'Vaudemont', 'Vaux', 'Venus', 'Walloon', 'Will', 'Abel', 'Abraham', 'Absyrtis', 'Achitophel', 
                  'Aeolus', 'Aesop', 'Ajax',  'Alcides', 'Althaea', 'Althea', 'Amamon', 'Anchises', 'Andren', 'Angus', 'Antony', 'April',
                  'Archibald', 'Ascanius', 'Asher', 'Asmath', 'Ate', 'Atlas', 'Atropos', 'Aubrey', 'August', 'Banister', 'Barbason', 
                  'Bargulus', 'Barnes', 'Barson', 'Bartholomew', 'Bartholomew-tide', 'Basimecu', 'Basingstoke', 'Bates', 'Beelzebub', 'Bennet',
                  'Bess', 'Bevis', 'Blumer', 'Bohun', 'Bracy', 'Brocas', 'Brutus', 'Butts', 'Cadwallader', 'Calipolis', 'Capuchius', 'Car',
                  'Cassado', 'Cerberus', 'Charlemagne', 'Childeric', 'Christopher', 'Circe', 'Clement', 'Clothair', 'Clotharius', 'Coint', 
                  'Constantine', 'Cophetua', 'Courtney', 'Crispianus', 'Cromer', 'Daedalus', 'Dagonet', 'Darius', 'Deborah', 'December', 'Denny',
                  'Dian', 'Dickie', 'Dickon', 'Dido', 'Diomed', 'Dives', 'Dommelton', 'Dumb', 'Eden', 'Ellen', 'Emmanuel', 'End', 'Englishwoman',
                  'Erebus', 'Ermengare', 'Eve', 'Ferdinand', 'Ferrara', 'Ferrers', 'Froissart', 'Furnival', 'Galen', 'Gilliams', 'Gisors', 'Glansdale',
                  'Goodman', 'Gough', 'Gurney', 'Guy', 'Guynes', 'Hannibal', 'Hecate', 'Hermes', 'Holy-rood', 'Hood', 'Humfrey',
                  'Hydra', 'Hyperion', 'Iris', 'Irishman', 'Isabel', 'Jane', 'Japheth', 'Jephthah', 'Jeshu', 'July', 'Kentishman', 
                  'Laurence', 'Leviathan', 'Limoges', 'Lingare', 'Madeira', 'Mahomet', 'Margery', 'Mark', 'Marle', 'Martlemas',
                  'Matthew', 'Medea', 'Meg', 'Menelaus', 'Merlin', 'Michaelmas', 'Minos', 'Monday', 'More', 'Mountacute', 'Nemesis',
                  'Neptune', 'Nestor', 'Nevil', 'Neville', 'Norbery', 'Oldcastle', 'Orpheus', 'Pace', 'Partlet', 'Paunch', 'Peesell',
                  'Pendragon', 'Penker', 'Perkes', 'Perseus', 'Pickbone', 'Pierce', 'Ponton', 'Poultney', 'Proteus', 'Rafe', 'Rainold',
                  'Ralph', 'Ramston', 'Rivo', 'Rochester', 'Rochford', 'Roscius', 'Saba', 'Samingo', 'Sampson', 'Samson', 'Sandal', 
                  'Santrailles', 'Satan', 'Saturn', 'Savoy', 'Scarlet', 'Seely', 'Seymour', 'Shaa', 'Shallow', 'Shirley', 'Shrovetide',
                  'Simpcox', 'Sinon', 'Smith', 'Sneak', 'Southwell', 'Squele', 'Stockfish', 'Stokeley', 'Strange', 'Sure-card', 'Sylla',
                  'Tamyris', 'Tartar', 'Telamonius', 'Tressel', 'Tully', 'Turkâ\x80\x99s', 'Umfrevile', 'Ursula', 'Verdon', 'Vere', 
                  'Waterton', 'Wheeson', 'Whitsun', 'Yedward', 'christendom', 'ostler', 'scot', 'utis', 'Ketly', 'Gam', 'Lazarus',
                  'Harry', 'John', 'Jack', 'Hal', 'Scot', 'Walter', 'Douglas', 'Marian', 'Turk', 'Priam', 'Job', 'Lucifer', 'March',
                  'Europe']

In [54]:
#filter out stop words from big_df
place_df1 = [i for i, r in big_df.iterrows() if r.Term not in more_stop_words]
place_df2 = big_df.iloc[place_df1]
len(place_df2)

2676

In [9]:
#combine two word terms
lines = []
for play in place_df2['Play'].unique():
    temp_df = place_df2[place_df2['Play'] == play]
    for line, count in temp_df.Line.value_counts().iteritems():
        if count > 1:
            lines.append((play, line))

In [10]:
lines

[('Henry IV, Part I', '3.1.47'),
 ('Henry IV, Part I', '3.1.77'),
 ('Henry IV, Part I', '4.2.3'),
 ('Henry IV, Part I', '5.4.46'),
 ('Henry IV, Part I', '3.2.98'),
 ('Henry IV, Part I', '4.4.29'),
 ('Henry IV, Part I', '1.1.73'),
 ('Henry IV, Part I', '1.3.290'),
 ('Henry IV, Part I', '3.1.79'),
 ('Henry IV, Part II', '4.3.196'),
 ('Henry IV, Part II', '3.1.1'),
 ('Henry IV, Part II', '2.2.168'),
 ('Henry V', '3.5.46'),
 ('Henry V', '3.5.43'),
 ('Henry V', '4.3.56'),
 ('Henry V', '2.2.202'),
 ('Henry V', '1.2.58'),
 ('Henry V', '2.4.5'),
 ('Henry V', '5.2.87'),
 ('Henry V', '4.8.104'),
 ('Henry V', '1.2.57'),
 ('Henry V', '2.4.4'),
 ('Henry V', '4.8.107'),
 ('Henry V', '4.6.11'),
 ('Henry V', '1.2.45'),
 ('Henry V', '5.2.367'),
 ('Henry V', '2.4.141'),
 ('Henry V', '5.2.24'),
 ('Henry V', '4.8.130'),
 ('Henry V', '4.7.178'),
 ('Henry V', '5.EPI.12'),
 ('Henry V', '4.3.55'),
 ('Henry V', '5.EPI.10'),
 ('Henry V', '5.2.362'),
 ('Henry V', '1.2.49'),
 ('Henry V', '2.CHO.30'),
 ('Henry V', '4.3.9'),
 ('Henry V', '4.8.96'),
 ('Henry V', '4.8.98'),
 ('Henry V', '4.8.100'),
 ('Henry V', '3.5.42'),
 ('Henry V', '5.2.249'),
 ('Henry V', '5.2.180'),
 ('Henry V', '4.8.10'),
 ('Henry VI, Part 1', '4.3.46'),
 ('Henry VI, Part 1', '4.3.23'),
 ('Henry VI, Part 1', '4.6.14'),
 ('Henry VI, Part 1', '1.1.61'),
 ('Henry VI, Part 1', '4.7.64'),
 ('Henry VI, Part 1', '4.7.34'),
 ('Henry VI, Part 1', '5.2.4'),
 ('Henry VI, Part 1', '4.1.115'),
 ('Henry VI, Part 1', '3.1.69'),
 ('Henry VI, Part 1', '5.4.112'),
 ('Henry VI, Part 1', '4.4.26'),
 ('Henry VI, Part 1', '3.1.196'),
 ('Henry VI, Part 1', '5.3.95'),
 ('Henry VI, Part 1', '4.1.155'),
 ('Henry VI, Part 1', '3.3.41'),
 ('Henry VI, Part 1', '2.4.119'),
 ('Henry VI, Part 1', '4.7.66'),
 ('Henry VI, Part 1', '4.1.90'),
 ('Henry VI, Part 1', '5.5.40'),
 ('Henry VI, Part 1', '4.4.36'),
 ('Henry VI, Part 1', '1.1.62'),
 ('Henry VI, Part 1', '4.4.15'),
 ('Henry VI, Part 1', '4.4.29'),
 ('Henry VI, Part 1', '5.1.6'),
 ('Henry VI, Part 1', '4.7.65'),
 ('Henry VI, Part 1', '5.3.159'),
 ('Henry VI, Part 1', '5.5.104'),
 ('Henry VI, Part 2', '1.1.74'),
 ('Henry VI, Part 2', '1.1.7'),
 ('Henry VI, Part 2', '1.1.51'),
 ('Henry VI, Part 2', '4.1.92'),
 ('Henry VI, Part 2', '1.1.91'),
 ('Henry VI, Part 2', '3.1.39'),
 ('Henry VI, Part 2', '5.2.1'),
 ('Henry VI, Part 2', '1.1.242'),
 ('Henry VI, Part 2', '5.2.69'),
 ('Henry VI, Part 2', '1.3.106'),
 ('Henry VI, Part 2', '2.2.23'),
 ('Henry VI, Part 2', '4.8.20'),
 ('Henry VI, Part 2', '4.9.25'),
 ('Henry VI, Part 2', '3.2.420'),
 ('Henry VI, Part 2', '1.1.90'),
 ('Henry VI, Part 2', '5.1.1'),
 ('Henry VI, Part 2', '1.1.48'),
 ('Henry VI, Part 2', '1.1.75'),
 ('Henry VI, Part 2', '3.1.306'),
 ('Henry VI, Part 2', '1.1.125'),
 ('Henry VI, Part 2', '2.1.33'),
 ('Henry VI, Part 2', '5.1.57'),
 ('Henry VI, Part 2', '4.8.50'),
 ('Henry VI, Part 2', '4.7.65'),
 ('Henry VI, Part 2', '1.1.202'),
 ('Henry VI, Part 2', '4.8.54'),
 ('Henry VI, Part 2', '1.1.219'),
 ('Henry VI, Part 2', '2.2.1'),
 ('Henry VI, Part 2', '3.1.84'),
 ('Henry VI, Part 2', '5.3.31'),
 ('Henry VI, Part 2', '1.3.105'),
 ('Henry VI, Part 2', '1.1.115'),
 ('Henry VI, Part 2', '3.2.211'),
 ('Henry VI, Part 2', '1.3.76'),
 ('Henry VI, Part 2', '5.2.6'),
 ('Henry VI, Part 2', '5.1.150'),
 ('Henry VI, Part 2', '1.1.63'),
 ('Henry VI, Part 2', '3.2.309'),
 ('Henry VI, Part 2', '1.1.223'),
 ('Henry VI, Part 2', '1.1.6'),
 ('Henry VI, Part 2', '1.1.224'),
 ('Henry VI, Part 2', '1.1.92'),
 ('Henry VI, Part 2', '3.2.249'),
 ('Henry VI, Part 2', '1.4.85'),
 ('Henry VI, Part 2', '5.1.84'),
 ('Henry VI, Part 2', '1.1.53'),
 ('Henry VI, Part 2', '1.1.247'),
 ('Henry VI, Part 2', '1.3.71'),
 ('Henry VI, Part 3', '1.1.160'),
 ('Henry VI, Part 3', '4.8.12'),
 ('Henry VI, Part 3', '5.1.73'),
 ('Henry VI, Part 3', '5.1.60'),
 ('Henry VI, Part 3', '2.6.73'),
 ('Henry VI, Part 3', '1.1.209'),
 ('Henry VI, Part 3', '4.1.130'),
 ('Henry VI, Part 3', '2.1.194'),
 ('Henry VI, Part 3', '5.1.86'),
 ('Henry VI, Part 3', '4.5.16'),
 ('Henry VI, Part 3', '4.7.8'),
 ('Henry VI, Part 3', '1.1.7'),
 ('Henry VI, Part 3', '1.1.86'),
 ('Henry VI, Part 3', '5.2.30'),
 ('Henry VI, Part 3', '5.5.2'),
 ('Henry VI, Part 3', '2.1.103'),
 ('Henry VI, Part 3', '2.6.28'),
 ('Henry VI, Part 3', '2.1.145'),
 ('Henry VI, Part 3', '4.1.133'),
 ('Henry VI, Part 3', '5.2.6'),
 ('Henry VI, Part 3', '4.1.11'),
 ('Henry VI, Part 3', '2.1.70'),
 ('Henry VI, Part 3', '3.2.1'),
 ('Henry VI, Part 3', '2.2.69'),
 ('Henry VI, Part 3', '1.4.66'),
 ('Henry VI, Part 3', '4.1.43'),
 ('Henry VI, Part 3', '1.4.186'),
 ('Henry VI, Part 3', '2.6.90'),
 ('Henry VI, Part 3', '1.4.27'),
 ('Henry VI, Part 3', '4.8.15'),
 ('Henry VI, Part 3', '5.3.15'),
 ('Henry VI, Part 3', '3.3.49'),
 ('Henry VI, Part 3', '2.6.110'),
 ('Henry VI, Part 3', '1.2.57'),
 ('Henry VI, Part 3', '4.7.72'),
 ('Henry VI, Part 3', '1.1.246'),
 ('Henry VI, Part 3', '2.1.144'),
 ('Henry VI, Part 3', '5.4.58'),
 ('Henry VI, Part 3', '2.1.171'),
 ('Henry VIII', '1.1.234'),
 ('Henry VIII', '3.2.119'),
 ('Henry VIII', '1.1.27'),
 ('Henry VIII', '1.1.212'),
 ('Henry VIII', '4.2.66'),
 ('King John', '1.1.11'),
 ('King John', '2.1.155'),
 ('King John', '2.1.509'),
 ('King John', '2.1.552'),
 ('King John', '2.1.397'),
 ('King John', '2.1.90'),
 ('King John', '2.1.431'),
 ('King John', '1.1.30'),
 ('King John', '2.1.1'),
 ('King John', '3.1.37'),
 ('King John', '5.1.32'),
 ('King John', '2.1.46'),
 ('King John', '2.1.84'),
 ('King John', '1.1.185'),
 ('King John', '4.2.112'),
 ('King John', '3.4.8'),
 ('King John', '1.1.1'),
 ('King John', '2.1.553'),
 ('King John', '2.1.210'),
 ('King John', '2.1.22'),
 ('Richard II', '1.3.35'),
 ('Richard II', '5.6.8'),
 ('Richard II', '1.3.113'),
 ('Richard II', '2.2.57'),
 ('Richard II', '1.3.104'),
 ('Richard II', '1.3.100'),
 ('Richard II', '2.3.57'),
 ('Richard II', '5.6.13'),
 ('Richard II', '2.3.10'),
 ('Richard II', '2.2.151'),
 ('Richard II', '5.6.3'),
 ('Richard II', '2.1.229'),
 ('Richard II', '2.3.9'),
 ('Richard II', '3.2.205'),
 ('Richard II', '2.2.95'),
 ('Richard II', '4.1.102'),
 ('Richard II', '3.1.34'),
 ('Richard II', '3.3.147'),
 ('Richard II', '2.3.60'),
 ('Richard III', '1.3.349'),
 ('Richard III', '4.5.10'),
 ('Richard III', '2.4.1'),
 ('Richard III', '5.3.313'),
 ('Richard III', '1.4.16'),
 ('Richard III', '3.4.32'),
 ('Richard III', '3.3.8'),
 ('Richard III', '4.3.53'),
 ('Richard III', '5.5.27'),
 ('Richard III', '5.3.286'),
 ('Richard III', '4.2.106'),
 ('Richard III', '2.4.49'),
 ('Richard III', '3.2.84'),
 ('Richard III', '4.4.552'),
 ('Richard III', '4.5.14'),
 ('Richard III', '1.3.18'),
 ('Richard III', '1.3.21')]

In [55]:
#write big_df to excel file so I don't have to write a 'combine terms' function
writer = pd.ExcelWriter('singleton_terms.xlsx')
place_df2.to_excel(writer, 'Sheet1')
writer.save()
def show_terms(play, line):
    return place_df2[place_df2['Line'] == line][place_df2['Play'] == play]

In [182]:
show_terms('Richard III', '1.3.21')

C:\Users\cwebb\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

              Speaker    Line      Term         Play
5715  Queen Elizabeth  1.3.21  Richmond  Richard III
5716  Queen Elizabeth  1.3.21     Derby  Richard III

In [ ]:
#stop words cycle begins
stop_words = stopwords.words('english')

In [26]:
just_words = big_df['Term'].values
ns, cs = np.unique(just_words, return_counts = True)
combo = list(zip(ns, cs))
sorted_freq_list = sorted(combo, key=lambda x: x[1], reverse = True)
sorted_freq_list

[('God', 438),
 ('France', 311),
 ('York', 216),
 ('England', 205),
 ('John', 194),
 ('Henry', 166),
 ('Warwick', 165),
 ('Richard', 155),
 ('Edward', 135),
 ('Harry', 108),
 ('Clarence', 89),
 ('Gloucester', 87),
 ('Buckingham', 74),
 ('Talbot', 74),
 ('Suffolk', 72),
 ('Somerset', 65),
 ('Lancaster', 64),
 ('London', 64),
 ('Bolingbroke', 63),
 ('Clifford', 59),
 ('Bardolph', 54),
 ('Margaret', 54),
 ('Thomas', 51),
 ('Jack', 49),
 ('Northumberland', 49),
 ('Percy', 49),
 ('Hastings', 47),
 ('Salisbury', 47),
 ('Norfolk', 45),
 ('Falstaff', 43),
 ('Kate', 43),
 ('Mortimer', 43),
 ('Hal', 42),
 ('Charles', 41),
 ('Plantagenet', 41),
 ('Humphrey', 37),
 ('George', 35),
 ('Richmond', 35),
 ('Wales', 33),
 ('Hubert', 32),
 ('Pistol', 31),
 ('Gaunt', 30),
 ('Westmoreland', 30),
 ('Burgundy', 29),
 ('Ireland', 29),
 ('Arthur', 28),
 ('Douglas', 28),
 ('Hereford', 28),
 ('Oxford', 28),
 ('Francis', 27),
 ('Cade', 26),
 ('Exeter', 26),
 ('William', 25),
 ('Winchester', 25),
 ('Davy', 24),
 ('Rome', 24),
 ('Catesby', 23),
 ('Lewis', 23),
 ('Stanley', 23),
 ('Mowbray', 22),
 ('Orleance', 21),
 ('Aumerle', 20),
 ('Glendower', 20),
 ('Montague', 20),
 ('Ned', 20),
 ('Robert', 20),
 ('Doll', 19),
 ('Maine', 19),
 ('Poins', 19),
 ('Cromwell', 18),
 ('Grey', 18),
 ('Jesu', 18),
 ('Shrewsbury', 18),
 ('Katherine', 17),
 ('Joan', 16),
 ('Scot', 16),
 ('Anjou', 15),
 ('Canterbury', 15),
 ('Dorset', 15),
 ('Edmund', 15),
 ('Kent', 15),
 ('Rivers', 15),
 ('Scotland', 15),
 ('Worcester', 15),
 ('Anne', 14),
 ('Monmouth', 14),
 ('Philip', 14),
 ('Pomfret', 14),
 ('Rutland', 14),
 ('Albans', 13),
 ('Angiers', 13),
 ('Bona', 13),
 ('Christendom', 13),
 ('Paris', 13),
 ('Pole', 13),
 ('Pucelle', 13),
 ('Reignier', 13),
 ('Walter', 13),
 ('Brittany', 12),
 ('Faulconbridge', 12),
 ('Fluellen', 12),
 ('Gower', 12),
 ('Lovell', 12),
 ('Ratcliffe', 12),
 ('Surrey', 12),
 ('Blunt', 11),
 ('Cambridge', 11),
 ('March', 11),
 ('Nell', 11),
 ('Nym', 11),
 ('Roan', 11),
 ('Scroop', 11),
 ('Beaufort', 10),
 ('Bedford', 10),
 ('Caesar', 10),
 ('Eleanor', 10),
 ('Griffith', 10),
 ('Hotspur', 10),
 ('Jerusalem', 10),
 ('Peter', 10),
 ('Alanson', 9),
 ('Blanche', 9),
 ('Calais', 9),
 ('Colevile', 9),
 ('Coventry', 9),
 ('Derby', 9),
 ('Louis', 9),
 ('Owen', 9),
 ('Pembroke', 9),
 ('Ravenspurgh', 9),
 ('Stafford', 9),
 ('Alexander', 8),
 ('Berkeley', 8),
 ('Bushy', 8),
 ('Christ', 8),
 ('Constance', 8),
 ('Harfleur', 8),
 ('Naples', 8),
 ('Peto', 8),
 ('Troy', 8),
 ('Tyrrel', 8),
 ('AlenÃ§on', 7),
 ('Bordeaux', 7),
 ('Bullcalf', 7),
 ('Cranmer', 7),
 ('Eastcheap', 7),
 ('Englishman', 7),
 ('Europe', 7),
 ('Mars', 7),
 ('Michael', 7),
 ('Tearsheet', 7),
 ('Tewkesbury', 7),
 ('Vaughan', 7),
 ('Bagot', 6),
 ('Elizabeth', 6),
 ('Gloucestershire', 6),
 ('Hume', 6),
 ('James', 6),
 ('Macmorris', 6),
 ('Nicholas', 6),
 ('Snare', 6),
 ('Spain', 6),
 ('Wart', 6),
 ('Wednesday', 6),
 ('Westminster', 6),
 ('Wiltshire', 6),
 ('Windsor', 6),
 ('Wolsey', 6),
 ('jack', 6),
 ('Chatillion', 5),
 ('Chrish', 5),
 ('Coeur', 5),
 ('Day', 5),
 ('Iden', 5),
 ('Jove', 5),
 ('Julius', 5),
 ('Macedon', 5),
 ('Montjoy', 5),
 ('Normandy', 5),
 ('OrlÃ©ans', 5),
 ('Paul', 5),
 ('Roger', 5),
 ('Shore', 5),
 ('Smithfield', 5),
 ('Touraine', 5),
 ('Vernon', 5),
 ('Welshman', 5),
 ('de', 5),
 ('Adam', 4),
 ('Agincourt', 4),
 ('Ascension', 4),
 ('Barbary', 4),
 ('Bourbon', 4),
 ('Bristow', 4),
 ('Cain', 4),
 ('Cobham', 4),
 ('Crispian', 4),
 ('Dick', 4),
 ('Ely', 4),
 ('Gadshill', 4),
 ('Gallia', 4),
 ('Gardiner', 4),
 ('Germany', 4),
 ('Holmedon', 4),
 ('Jesus', 4),
 ('Lionel', 4),
 ('Lucifer', 4),
 ('Lucy', 4),
 ('Masham', 4),
 ('May', 4),
 ('Melun', 4),
 ('Mercury', 4),
 ('Mordake', 4),
 ('Morton', 4),
 ('Phoebus', 4),
 ('Poitiers', 4),
 ('Robin', 4),
 ('Sands', 4),
 ('Saye', 4),
 ('Southampton', 4),
 ('Trent', 4),
 ('Alban', 3),
 ('Armagnac', 3),
 ('Austria', 3),
 ('Beaumont', 3),
 ('Berwick', 3),
 ('Brabant', 3),
 ('Brakenbury', 3),
 ('Brandon', 3),
 ('Bullen', 3),
 ('Bury', 3),
 ('Callice', 3),
 ('Campeius', 3),
 ('Carlisle', 3),
 ('Chertsey', 3),
 ('Cheshu', 3),
 ('Clifton', 3),
 ('Crete', 3),
 ('Crosby', 3),
 ('Dighton', 3),
 ('Dover', 3),
 ('Eltham', 3),
 ('Elysium', 3),
 ('Erpingham', 3),
 ('Exton', 3),
 ('Fang', 3),
 ('Fastolf', 3),
 ('Fitzwater', 3),
 ('Forrest', 3),
 ('Frenchman', 3),
 ('Geoffrey', 3),
 ('Gilbert', 3),
 ('Hector', 3),
 ('Helen', 3),
 ('Hercules', 3),
 ('Hill', 3),
 ('Hugh', 3),
 ('Icarus', 3),
 ('Judas', 3),
 ('Langley', 3),
 ('Leicester', 3),
 ('Lion', 3),
 ('Ludlow', 3),
 ('Man', 3),
 ('Montgomery', 3),
 ('Nightwork', 3),
 ('Northampton', 3),
 ('Pharamond', 3),
 ('PhaÃ«ton', 3),
 ('Plashy', 3),
 ('Ross', 3),
 ('Sala', 3),
 ('Scales', 3),
 ('Severn', 3),
 ('Temple', 3),
 ('Thursday', 3),
 ('Tom', 3),
 ('Tours', 3),
 ('Travers', 3),
 ('Turk', 3),
 ('Warwickshire', 3),
 ('Whitmore', 3),
 ('Willoughby', 3),
 ('Wye', 3),
 ('Abergavenny', 2),
 ('Aeneas', 2),
 ('Agamemnon', 2),
 ('Albion', 2),
 ('Alice', 2),
 ('Amazon', 2),
 ('Amurath', 2),
 ('Anthony', 2),
 ('Arc', 2),
 ('Ashford', 2),
 ('Bar', 2),
 ('Barnet', 2),
 ('Berri', 2),
 ('Bigot', 2),
 ('Bridgenorth', 2),
 ('Butler', 2),
 ('Capet', 2),
 ('Chartreux', 2),
 ('Chatillon', 2),
 ('Cheapside', 2),
 ('Cleitus', 2),
 ('Colbrand', 2),
 ('Crispin', 2),
 ('Cumberland', 2),
 ('Delabreth', 2),
 ('Denis', 2),
 ('Dennis', 2),
 ('Doncaster', 2),
 ('Dorothy', 2),
 ('Edmundsbury', 2),
 ('Elbe', 2),
 ('Falconbridge', 2),
 ('Fife', 2),
 ('Flanders', 2),
 ('Foix', 2),
 ('Friday', 2),
 ('Gargrave', 2),
 ('Gawsey', 2),
 ('Godâ\x80\x99s', 2),
 ('Goodwin', 2),
 ('Greece', 2),
 ('Gregory', 2),
 ('Gualtier', 2),
 ('Guildhall', 2),
 ('Guilford', 2),
 ('Hatfield', 2),
 ('Henton', 2),
 ('Herbert', 2),
 ('Hiren', 2),
 ('Hopkins', 2),
 ('Horner', 2),
 ('Hungerford', 2),
 ('Iceland', 2),
 ('India', 2),
 ('Innocent', 2),
 ('Ipswich', 2),
 ('Italy', 2),
 ('Jacques', 2),
 ('Jamy', 2),
 ('Jew', 2),
 ('Jewry', 2),
 ('Jourdain', 2),
 ('June', 2),
 ('Kendal', 2),
 ('Killingworth', 2),
 ('Lent', 2),
 ('Lestrale', 2),
 ('Lethe', 2),
 ('Lincoln', 2),
 ('Lorraine', 2),
 ('Louvre', 2),
 ('Machiavel', 2),
 ('Mary', 2),
 ('Milan', 2),
 ('Nero', 2),
 ('Pandulph', 2),
 ('Peck', 2),
 ('Pegasus', 2),
 ('Pepin', 2),
 ('Philippa', 2),
 ('Picardy', 2),
 ('Pilate', 2),
 ('Place', 2),
 ('Pompey', 2),
 ('Priam', 2),
 ('Rambures', 2),
 ('Rheims', 2),
 ('Rouen', 2),
 ('Roussi', 2),
 ('Sander', 2),
 ('Simon', 2),
 ('Southam', 2),
 ('Southwark', 2),
 ('Spaniard', 2),
 ('Stephen', 2),
 ('Swinstead', 2),
 ('Thames', 2),
 ('Thump', 2),
 ('Titan', 2),
 ('Tuesday', 2),
 ('Ulysses', 2),
 ('Vaudemont', 2),
 ('Vaux', 2),
 ('Venus', 2),
 ('Walloon', 2),
 ('Westmorland', 2),
 ('Will', 2),
 ('Woodeville', 2),
 ('Yorkshire', 2),
 ('Abel', 1),
 ('Abraham', 1),
 ('Absyrtis', 1),
 ('Achitophel', 1),
 ('Aeolus', 1),
 ('Aesop', 1),
 ('Africa', 1),
 ('Ajax', 1),
 ('Alcides', 1),
 ('Althaea', 1),
 ('Althea', 1),
 ('Alton', 1),
 ('Amamon', 1),
 ('Ampthill', 1),
 ('Anchises', 1),
 ('Andren', 1),
 ('Angus', 1),
 ('Antony', 1),
 ('April', 1),
 ('Archibald', 1),
 ('Arde', 1),
 ('Argo', 1),
 ('Artois', 1),
 ('Ascanius', 1),
 ('Asher', 1),
 ('Asia', 1),
 ('Asmath', 1),
 ('Ate', 1),
 ('Atholl', 1),
 ('Atlas', 1),
 ('Atropos', 1),
 ('Aubrey', 1),
 ('August', 1),
 ('Auvergne', 1),
 ('Babylon', 1),
 ('Banister', 1),
 ('Barbason', 1),
 ('Bargulus', 1),
 ('Barkloughly', 1),
 ('Barnes', 1),
 ('Barson', 1),
 ('Bartholomew', 1),
 ('Bartholomew-tide', 1),
 ('Basimecu', 1),
 ('Basingstoke', 1),
 ('Bates', 1),
 ('Bayonne', 1),
 ('Beelzebub', 1),
 ('Belgia', 1),
 ('Bennet', 1),
 ('Bess', 1),
 ('Bevis', 1),
 ('Blackfriars', 1),
 ('Blackheath', 1),
 ('Blackmere', 1),
 ('Blanc', 1),
 ('Blithild', 1),
 ('Blois', 1),
 ('Blumer', 1),
 ('Bohun', 1),
 ('Bonville', 1),
 ('Bosworth', 1),
 ('Bouciqualt', 1),
 ('Bouciquault', 1),
 ('Bourdeaux', 1),
 ('Bracy', 1),
 ('Brecknock', 1),
 ('Bristol', 1),
 ('Britaigne', 1),
 ('Britain', 1),
 ('Brocas', 1),
 ('Brutus', 1),
 ('Burton', 1),
 ('Butts', 1),
 ('Cadwallader', 1),
 ('Calaber', 1),
 ('Calipolis', 1),
 ('Calydon', 1),
 ('Capuchius', 1),
 ('Car', 1),
 ('Carnarvanshire', 1),
 ('Cassado', 1),
 ('Caucasus', 1),
 ('Cerberus', 1),
 ('Charing', 1),
 ('Charlemagne', 1),
 ('Charolois', 1),
 ('Chartham', 1),
 ('Chester', 1),
 ('Childeric', 1),
 ('Christopher', 1),
 ('Ciceter', 1),
 ('Circe', 1),
 ('Clement', 1),
 ('Clothair', 1),
 ('Clotharius', 1),
 ('Coint', 1),
 ('Coldfield', 1),
 ('Coldspur', 1),
 ('Constantine', 1),
 ('Constantinople', 1),
 ('Cophetua', 1),
 ('Cotshall', 1),
 ('Cotswold', 1),
 ('Courtney', 1),
 ('Crispianus', 1),
 ('Cromer', 1),
 ('Cross', 1),
 ('Daedalus', 1),
 ('Dagonet', 1),
 ('Daintry', 1),
 ('Damascus', 1),
 ('Darius', 1),
 ('Daventry', 1),
 ('Deborah', 1),
 ('December', 1),
 ('Denny', 1),
 ('Devonshire', 1),
 ('Dian', 1),
 ('Dickie', 1),
 ('Dickon', 1),
 ('Dido', 1),
 ('Diomed', 1),
 ('Dives', 1),
 ('Dommelton', 1),
 ('Dorsetshire', 1),
 ('Dumb', 1),
 ('Dunsmore', 1),
 ('Dunstable', 1),
 ('Eden', 1),
 ('Egypt', 1),
 ('Ellen', 1),
 ('Emmanuel', 1),
 ('End', 1),
 ('Englishwoman', 1),
 ('Erebus', 1),
 ('Ermengare', 1),
 ('Essex', 1),
 ('Eve', 1),
 ('Ferdinand', 1),
 ('Ferrara', 1),
 ('Ferrers', 1),
 ('Finsbury', 1),
 ('Fleet', 1),
 ('Flint', 1),
 ('Froissart', 1),
 ('Furnival', 1),
 ('Galen', 1),
 ('Galloway', 1),
 ('Gam', 1),
 ('Gaultree', 1),
 ('Gilliams', 1),
 ('Gisors', 1),
 ('Glansdale', 1),
 ('Gloucesterâ\x80\x99s', 1),
 ('Golgotha', 1),
 ('Goodman', 1),
 ('Goodrich', 1),
 ('Gough', 1),
 ('Greenwich', 1),
 ('Guichard', 1),
 ('Gurney', 1),
 ('Guy', 1),
 ('Guyen', 1),
 ('Guynes', 1),
 ('Hames', 1),
 ('Hampton', 1),
 ('Hannibal', 1),
 ('Haâ\x80\x99rfordwest', 1),
 ('Hecate', 1),
 ('Herefordshire', 1),
 ('Hermes', 1),
 ('Hertford', 1),
 ('Hinckley', 1),
 ('Holborn', 1),
 ('Holy-rood', 1),
 ('Hood', 1),
 ('House', 1),
 ('Humfrey', 1),
 ('Huntington', 1),
 ('Hybla', 1),
 ('Hydra', 1),
 ('Hyperion', 1),
 ('Hyrcania', 1),
 ('Iris', 1),
 ('Irishman', 1),
 ('Isabel', 1),
 ('Jane', 1),
 ('Japheth', 1),
 ('Jephthah', 1),
 ('Jeshu', 1),
 ('Job', 1),
 ('July', 1),
 ('Kentishman', 1),
 ('Ketly', 1),
 ('Kymmalton', 1),
 ('Langton', 1),
 ('Laurence', 1),
 ('Lazarus', 1),
 ('Leicestershire', 1),
 ('Leviathan', 1),
 ('Limoges', 1),
 ('Lincolnshire', 1),
 ('Lingare', 1),
 ('Lumbert', 1),
 ('Lynn', 1),
 ('Madeira', 1),
 ('Mahomet', 1),
 ('Manningtree', 1),
 ('Margery', 1),
 ('Marian', 1),
 ('Mark', 1),
 ('Marle', 1),
 ('Marshalsea', 1),
 ('Martlemas', 1),
 ('Matthew', 1),
 ('Medea', 1),
 ('Meg', 1),
 ('Meissen', 1),
 ('Melford', 1),
 ('Memphis', 1),
 ('Menelaus', 1),
 ('Menteith', 1),
 ('Merlin', 1),
 ('Michaelmas', 1),
 ('Mile', 1),
 ('Milford', 1),
 ('Minos', 1),
 ('Monday', 1),
 ('Moorditch', 1),
 ('More', 1),
 ('Mountacute', 1),
 ('Murray', 1),
 ('Nemesis', 1),
 ('Neptune', 1),
 ('Nestor', 1),
 ('Nevil', 1),
 ('Neville', 1),
 ('Newgate', 1),
 ('Norbery', 1),
 ('Northamptonshire', 1),
 ('Oldcastle', 1),
 ('Orleans', 1),
 ('Orpheus', 1),
 ('Oxfordshire', 1),
 ('Pace', 1),
 ('Palestine', 1),
 ('Partlet', 1),
 ('Patay', 1),
 ('Paunch', 1),
 ('Peesell', 1),
 ('Pendragon', 1),
 ('Penker', 1),
 ('Perkes', 1),
 ('Perseus', 1),
 ('Pickbone', 1),
 ('Pierce', 1),
 ('Po', 1),
 ('Poictiers', 1),
 ('Ponton', 1),
 ('Poultney', 1),
 ('Proteus', 1),
 ('Rafe', 1),
 ('Rainold', 1),
 ('Ralph', 1),
 ('Ramston', 1),
 ('Rivo', 1),
 ('Rochester', 1),
 ('Rochford', 1),
 ('Roscius', 1),
 ('Rougemont', 1),
 ('Saba', 1),
 ('Samingo', 1),
 ('Sampson', 1),
 ('Samson', 1),
 ('Sandal', 1),
 ('Santrailles', 1),
 ('Satan', 1),
 ('Saturn', 1),
 ('Savoy', 1),
 ('Scarlet', 1),
 ('Seely', 1),
 ('Seymour', 1),
 ('Shaa', 1),
 ('Shallow', 1),
 ('Sheffield', 1),
 ('Shirley', 1),
 ('Shrovetide', 1),
 ('Sicil', 1),
 ('Sicilia', 1),
 ('Simpcox', 1),
 ('Sinon', 1),
 ('Smith', 1),
 ('Sneak', 1),
 ('Somerville', 1),
 ('Somme', 1),
 ('Southwell', 1),
 ('Squele', 1),
 ('Staffordshire', 1),
 ('Staines', 1),
 ('Stamford', 1),
 ('Stockfish', 1),
 ('Stokeley', 1),
 ('Stony', 1),
 ('Strand', 1),
 ('Strange', 1),
 ('Stratford', 1),
 ('Sure-card', 1),
 ('Sutton', 1),
 ('Sylla', 1),
 ('Tamworth', 1),
 ('Tamyris', 1),
 ('Tartar', 1),
 ('Telamonius', 1),
 ('Toledo', 1),
 ('Tressel', 1),
 ('Tully', 1),
 ('Turkâ\x80\x99s', 1),
 ('Turnbull', 1),
 ('Umfrevile', 1),
 ('Urchinfield', 1),
 ('Ursula', 1),
 ('Valence', 1),
 ('Venice', 1),
 ('Verdon', 1),
 ('Vere', 1),
 ('Volquessen', 1),
 ('Wakefield', 1),
 ('Washford', 1),
 ('Waterford', 1),
 ('Waterton', 1),
 ('Wheeson', 1),
 ('Whitehall', 1),
 ('Whitsun', 1),
 ('Wingfield', 1),
 ('Wingham', 1),
 ('Woncot', 1),
 ('Woodstock', 1),
 ('Woodville', 1),
 ('Yedward', 1),
 ('christendom', 1),
 ('ostler', 1),
 ('scot', 1),
 ('utis', 1)]

In [20]:
big_df[big_df['Term'] == 'March']

         Speaker     Line   Term              Play
91          King   1.3.86  March  Henry IV, Part I
491      Hotspur  4.1.117  March  Henry IV, Part I
529      Hotspur  4.3.100  March  Henry IV, Part I
689         King   5.5.42  March  Henry IV, Part I
3023        York   2.2.39  March  Henry VI, Part 2
3026        York   2.2.40  March  Henry VI, Part 2
3042        York   2.2.52  March  Henry VI, Part 2
3335        Cade  4.2.133  March  Henry VI, Part 2
3595  King Henry  1.1.109  March  Henry VI, Part 3
3764     Warwick  2.1.181  March  Henry VI, Part 3
3771     Warwick  2.1.194  March  Henry VI, Part 3

In [217]:
place_df_nocoords[place_df_nocoords['Term'] == 'Bosworth']

      Speaker   Line      Term         Play
6274  Richard  5.3.1  Bosworth  Richard III

In [56]:
place_df_nocoords = pd.read_excel('singleton_terms.xlsx')

In [57]:
place_names = place_df_nocoords['Term'].unique()
len(place_names)

279

In [59]:
names_onlydf = pd.DataFrame(place_names)
writer = pd.ExcelWriter('GeoJSON_info.xlsx')
names_onlydf.to_excel(writer, 'Sheet1')
writer.save()